/*

	Rupak kannan
	11-06-2020
*/

body {
	background-color: lightgreen;
	color:black;
}

.unique {
	float:right;
	display: block;
	width: 40%;
	border: 3px solid black;
}

#grad {
	background-image: linear-gradient(lightgreen, white, lightgreen);
}

.cover{
	float:center;	
	margin:auto;
	width: 85%;
}